@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500&family=Raleway:wght@200&display=swap");
html,
body {
  margin: 0;
  font-family: "Montserrat";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#root {
  position: relative;
  height: auto;
  min-height: 95vh;
}

button {
  background-color: rgb(84, 182, 137);
}
/* Sidebar */
.side-menu {
  background-color: rgb(84, 182, 137);
  color: white;
  margin: 0;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .side-menu {
    width: 300px;
    position: fixed;
    height: 100vh;
    /* overflow-y: auto; */
  }
}

@media screen and (max-width: 799px) {
  .side-menu {
    width: auto;
    height: auto;
    position: relative;
  }
}
.sidebar-basic-info {
  border-bottom: 0.5px solid grey;
}
.my-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 1rem;
  margin-top: 0.5rem;
}
.side-summary {
  margin: 0.5rem 1rem;
}
.sidebar-social-media {
  margin: 0.8rem 1rem;
}

.social-icons {
  display: inline-block;
  color: black;
  background-color: white;
  padding: 0.8rem 1rem;
  margin: 0.5rem;
  border-radius: 50%;
}
/* ********************** */

/* Nav components */
.navbar-container {
  align-content: center;
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}
.navbar-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0rem;
  padding: 0rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar-item a {
  text-decoration: none;
  color: white;
}

.navbar-item:hover {
  color: black;
}
.navbar-item a:hover {
  color: rgb(135, 75, 75);
}
/* ************* */

/* About page */
/* main-container */

.main-container {
  height: 100%;
  min-height: 95vh;
}
@media screen and (min-width: 1000px) {
  .main-container,
  .footer {
    margin-left: 300px;
  }
  .main-container-child {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 0.5rem;

    height: auto;
  }
}

@media screen and (max-width: 999px) {
  .main-container,
  .footer {
    margin-left: 300px;
  }
  .main-container-child {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 799px) {
  .main-container,
  .footer {
    margin-left: auto;
  }
  .main-container{
    align-content: center;

  }
  .main-container-child {
    width: auto;
    height: auto;
    position: relative;
  }
  .side-menu-footer
  {
    display : none;
  }
  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
}
.react-pdf__Page__textContent {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}

.card-img {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}



}
.element.stype{
  width: 100%;
}
.skills-conatiner {
  padding-left: 4rem;
  padding-top: 2rem;
}
.skills-conatiner img {
  width: 2rem;
  height: 2rem;
}
.skills-conatiner h1 {
  font-weight: 800;
}

.skill-type h5 {
  border-left: 5px solid rgb(84, 182, 137);
  color: grey;
  padding-left: 3rem;
  font-size : 16px;
}
.skill-item {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  padding-right: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 14px;
  font-weight:100;
}
.skill-item span {
  padding-top: 0.2rem;
}
/* Summary component*/
.summary-container {
  padding: 3rem;
  background-color: rgb(251, 250, 252);
  color: rgb(80, 77, 77);
}
.summary-container h1,
h5,
p {
  padding: 0.5rem;
}
.summary-button {
  background-color: rgb(84, 182, 137);
  color: white;
  font-weight: 600;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.summary-button {
  background-color: #54b689;
  color: #fff;
  font-weight: 600;
}

.mb-3 {
  margin-bottom: 1rem!important;
}
.me-2 {
  margin-right: 0.5rem!important;
}


/* project card */
.project-card {
  border: none;
  padding: 1rem;
}
.card {
  border: none;
}
.card-title {
  color: black;
}
.card-text a {
  font-size: 29px;
  text-decoration: none;
}
.card-text a:hover {
  color: blue;
}
.project-card img {
  height: 300px;
  width: 400px;
}
.card-body {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: flex-start;
}
.card-footer {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

/* portfolio page */
.portfolio-heading {
  padding: 4rem 1rem 3rem 1rem;
  font-weight: 600;
  border-bottom: 1px grey;
  text-align: center;
}
/* @media screen and (min-width: 1000px) {
} */
.portfolio-container {
  display: grid;
  grid-template-columns: auto;
  max-width: fit-content;
}

/* page footer */
.footer {
  /* margin-left: 320px; */
  position: relative;
  margin-top: auto;
  bottom: 0;
  color: rgb(184, 175, 175);
  align-items: center;
}
.footer p {
  text-align: center;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.portfolio-heading {
  border-bottom: 1px grey;
  font-weight: 600;
  padding: 4rem 1rem 3rem;
  text-align: center;
}

