*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
    display: block;
  }


.side-menu{
    position: fixed;
    background: rgb(53, 91, 77);
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    transition: width .2s ease-in;
}

.side-menu.inactive{
    width: 80px;
}

.side-menu .top-section{
    position: relative;
}

.side-menu .top-section .logo{
    width: 50%;
    height: 50%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  
}
.side-menu .top-section .user-description{
   
    text-align: center;
    overflow: hidden;
    display: block;
    color: rgb(255, 255, 255);
}
.side-menu .top-section .user-description .name{

    font-size: 21px;
}
.side-menu .top-section .user-description .job{
    
    font-size: 12px;
}
.side-menu .top-section .user-description .country{
    
    font-size: 12px;
}
.side-menu .top-section .user-description .about{
   
    font-size: 14px;
}


.side-menu .top-section .logo img{
    max-width: 100%;
    max-height: 100%;
}

.side-menu .top-section .toggle-menu-btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
   
}

.side-menu.inactive .top-section .toggle-menu-btn{
    right: 0px;
}

.side-menu .search-controller{
    color: #fff;
    position: relative;
}

.side-menu .search-controller .search-btn{
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.side-menu .search-controller input[type=text]{
    border: 0;
    outline: none;
    height: 35px;
    background: #333;
    border-radius: 5px;
    display: block;
    margin: 0px 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0px;
    color: #666;
}

.side-menu .main-menu .menu-item{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
    margin: 0rem;
    margin-left: 0px;
  
    
    
}

.side-menu .main-menu .menu-item.active{
    background: #333;
    border-radius: 5px;
    color: #fff;
}


.side-menu .main-menu{
    margin: 0px 0;
    position: relative;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* not required any more */
.side-menu.inactive .main-menu{
   
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    
    margin-left: -90px;
   
    
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
   
    
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    margin-left: -90px;
}

.side-menu .main-menu .sub-menu{
    color: rgb(255, 255, 255);
    margin-left: 0px;
    border-left: 0px solid #666;
    box-sizing: border-box;
    padding-left: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}



.side-menu .main-menu .sub-menu.active{
    max-height: 200px;
}

.side-menu .main-menu .sub-menu a{
    display: block;
    margin:  0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 0px;
}


.side-menu .main-menu .sub-menu a.active{
    /* change in background, not recorded in video */
    background: #222;
    display: block;
    
    border-radius: 0px;
    color: #fff;

}
.side-menu .main-menu .ul{
    
   

}

.side-menu-footer{
    width: 100%;
  
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
   
    box-sizing: border-box;
    
}

.side-menu-footer .avatar{
    width: 20px;
  
    
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.side-menu-footer .avatar img{
    max-width: 100%;
}

.side-menu-footer .user-info{

   
}

.side-menu.inactive .side-menu-footer .user-info{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
}


.side-menu-footer .user-info h5{
    font-size: 10px;
}


.side-menu-footer .user-info p{
    font-size: 9px;
}

.divider{
    width: 100%;
    height: 1px;
    border-radius: 0px;
    background: #333;
}
.social-icon {
    
    text-align: center;

}

.social-icons {
    
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    margin: 0rem;
    padding: 0rem 0rem;
    font-size : 15px;
}

 



.main-container{
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
    box-sizing: border-box;
}

.main-container.inactive{
    margin-left: 80px;
}


.bi-arrow-left-square-fill{
     
    display: none;
}






